name: Publish
on:
  push:
    branches:
    - master
  pull_request:

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0
      - uses: coursier/cache-action@v8.0
      - uses: coursier/setup-action@v2.0
        with:
          jvm: 21
      - name: Publish local
        run: cd publish && ./mill -i __.publishLocal
        if: github.ref != 'refs/heads/master'
      - name: Publish
        run: cd publish && ./mill -i mill.scalalib.SonatypeCentralPublishModule/
        if: github.ref == 'refs/heads/master'
        env:
          MILL_PGP_SECRET_BASE64: ${{ secrets.PUBLISH_SECRET_KEY }}
          MILL_PGP_PASSPHRASE: ${{ secrets.PUBLISH_SECRET_KEY_PASSWORD }}
          MILL_SONATYPE_USERNAME: ${{ secrets.PUBLISH_USER }}
          MILL_SONATYPE_PASSWORD: ${{ secrets.PUBLISH_PASSWORD }}
