name: Test
on:
  push:
    branches:
    - master
  pull_request:

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2.3.4
      - uses: coursier/cache-action@v6
      - uses: laughedelic/coursier-setup@v1
        with:
          jvm: 8
          apps: sbt
      - run: sbt "runMain dummy"
