name: Update index
on:
  push:
    branches:
      - master
  schedule:
    - cron: "0 0 * * *"
  workflow_dispatch:

jobs:
  update-index:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: coursier/cache-action@v6.4
      - uses: coursier/setup-action@v1.3
        with:
          jvm: 11
      - run: ./scala-cli.sh .
        env:
          GH_TOKEN: ${{ secrets.INDEX_GITHUB_TOKEN }}
      - name: Create Pull Request
        id: cpr
        uses: peter-evans/create-pull-request@v6.0.4
        with:
          commit-message: Update index
          author: GitHub <noreply@github.com>
          delete-branch: true
          title: Update index
      - name: Generate Job Summary
        run: |-
          PR_NUMBER=$(echo "${{ steps.cpr.outputs.pull-request-number }}")
          PR_URL=$(echo "${{ steps.cpr.outputs.pull-request-url }}")
          echo "## Index Update Summary" >> $GITHUB_STEP_SUMMARY
          echo "" >> $GITHUB_STEP_SUMMARY
          echo "Pull Request Number - **${PR_NUMBER}**" >> $GITHUB_STEP_SUMMARY
          echo "Pull Request URL - **${PR_URL}**" >> $GITHUB_STEP_SUMMARY
