name: Update index
on:
  push:
    branches:
    - master
  schedule:
    - cron: "0 0 * * *"

jobs:
  update-index:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2.3.4
      - uses: coursier/cache-action@v6
      - uses: laughedelic/coursier-setup@v1
        with:
          jvm: 8
          apps: sbt
      - run: sbt "runMain writeIndex index.json"
        env:
          GH_TOKEN: ${{ secrets.INDEX_GITHUB_TOKEN }}
      - name: Create Pull Request
        id: cpr
        uses: peter-evans/create-pull-request@v3
        with:
          commit-message: Update index
          author: GitHub <noreply@github.com>
          delete-branch: true
          title: Update index
      - name: Check Pull Request
        run: |
          echo "Pull Request Number - ${{ steps.cpr.outputs.pull-request-number }}"
          echo "Pull Request URL - ${{ steps.cpr.outputs.pull-request-url }}"
